@use "../../assets/styles/styles.scss" as g;
.main{
    padding: 1em;
    width: 100%;
}
.gallery{
    padding: 10px;
    display: grid;
    gap: 1em;
    grid-auto-rows: 12em;
    grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
    grid-auto-flow: dense;
    overflow: hidden;
}