@use "../../assets/styles/styles.scss" as g;

.figure figcaption{
    background: rgba(56, 57, 62, 0.881);
    width: fit-content;
    height: fit-content;
    padding: .1em .7em;
    border-radius: .6em;
    margin: .5em;
    @include g.text-sm1;
    display: flex;
    align-items: center;
    justify-content: center;
}