@use "../../assets/styles/styles.scss" as g;
header{
    border: 3px solid g.$primaryGrey;
    padding: .4em 0;
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 70em;
    padding: 0 3%;
    margin: 0 auto;
}
.logo__bg{
    display: none;
}
.middle{
    width: 65%;
}
.middle .input{
    display: grid;
    place-items: center;
}
.middle .input > *{
    grid-column: 1/2;
    grid-row: 1/2;
}
.middle .input .btn{
    justify-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: none;
    border: none;
    color: g.$secondaryGrey;
    margin-left: .3em;
}
.middle .field{
    border: 2px solid g.$secondaryGrey;
    color: #ffff;
    background: g.$primaryBlack;
    border-radius: .5em;
    padding: .3em 2em;
    @include g.text-base;
    width: 100%;
}
.profile__mb{
    display: flex;
    justify-content: center;
    align-items: center;
    @include g.text-bg1;
}

//responsive breakpoints
@include g.tablet{
    .middle{
        width: 50%;
    }
    .heading{
        max-width: 70em;
        padding: 0 7%;
        margin: 0 auto;
    }
}

@include g.desktop{
    .logo__mb{
        display: none;
    }
    .header{
        max-width: 60em;
    }
    .logo__bg{
        display: block;
    }
    .profile__bg{
        display: flex;
    }
}