@use "../../assets/styles/styles.scss" as g;
.aside__big{
    border-right: 3px solid g.$primaryGrey;
    height: 100vh;
    width: 50%;
    max-width: 16em;
    display: none;
    background: g.$primaryBlack;
}
.aside__big nav{
    border-bottom: 3px solid g.$primaryGrey ;
}

.aside__big nav .sidebar__menu{
    padding: 1em .7em 1em 0;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
a:nth-child(2){
    background: #ffff;
    color: #da1d27;
    border-radius: 0 1.5em 1.5em 0;
}
.aside__big .library .sidebar__library{
    padding: .4em .7em .4em 0;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.sidebar__library p:first-child{
    @include g.text-sm;
    color: red;
    padding: 0 0 0 1em;
}
.logout{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include g.text-sm;
    padding: .3em 0 .3em 1em;
    cursor: pointer;
}
//responsive breakpoints
@include g.desktop{
    .aside__big {
        display: block;
    }
}